body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
}

.bubble {
  background: rgba(255, 0, 0, 0.226);
  border-radius: 300px;
  position: absolute;
  opacity: 0;
  animation: anim 8s forwards;
  filter: hue-rotate(0deg);
}

@keyframes anim {
  to {
    opacity: 1;
    top: -250px;
    left: var(--left);
    filter: hue-rotate(720deg);
  }
}

/* div {
  display: flex;
} */
h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.555);
  user-select: none;
}
